################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
IzvorniKod/Apartmeet/Apartmeet.Api/appsettings.User.json
